# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Dataset (DO NOT COMMIT)
# ===============================
data/
PetImages/

# ===============================
# Model Artifacts (Optional)
# ===============================
models/*.h5


# ===============================
# Temporary / Output
# ===============================
*.tmp
*.cache
